<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Todo App</title>
  </head>
  <body>
    <ul>
      <% for(let todo of todos) { %>
      <li>
        <p><%= todo.description %></p>
        <a href="/delete?id=<%= todo._id %> ">delete</a>
      </li>
      <% } %>
    </ul>
    <div class="fixed-bar w-100">
      <form method="post" action="/">
        <div style="display: flex">
          <div class="input-inline">
            <label for="description">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              placeholder="What do you need to do?"
              autofocus
            />
          </div>
          <div class="input-inline">
            <label for="category">Category</label>
            <select name="category" id="category">
              <option>Personal</option>
              <option>Work</option>
              <option>School</option>
              <option>Other</option>
            </select>
          </div>
          <div class="input-inline">
            <label for="dueDate">Due Date</label>
            <input type="date" name="dueDate" id="dueDate" />
          </div>
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
